# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

# Data
data/processed/

# Models
models/*.pkl
models/*.joblib

# Submissions
submissions/*.csv

# System
.DS_Store
Thumbs.db